@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root
{
	--text-black: #0f172a;
}

body{
	font-family: "Inter",Helvecita,Arial;
	margin: 0;
	font-weight: 600;
	background-color: #D3D3D3;
}

::selection
{
	background-color: var(--text-black);
	color: white;
}

#baslik{
	text-align: center;
	padding: 20px 0px;

}

#baslik img{
	height: 150px;
}

#benkimim{
	font-size: 30px;
	color: var(--text-black);
	text-align: center;
	line-height: 200%;
	padding: 20px 0px;

}

#slider
{
	text-decoration: none;
}

h1{
	font-weight: 800;
	background:
		linear-gradient(90deg, #2E5894, #CC5500);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	display: inline-block;
}

.duzenleme{
	width: 1020px;
	margin-left: auto;
	margin-right: auto;
}

#resim{
	float: left;
	width: 510px;
	padding: 30px 0px;
}

#resim img{
	width: 400px;
}

#yazi{
	float: left;
	width: 510px;
	padding: 25px 0px;
	color: var(--text-black);
}

.temizle{
	clear: left;
}

#logo
{
	background-color: var(--text-black);
	padding: 40px 0px;
	color:white;
}

.logokutusu
{
	float: left;
	background-color: white;
	height: 190px;
	width: 190px;
	margin:20px 10px;
	padding: 40px 30px 30px 30px;
	border-radius: 20px;
	text-align: center; 
}

.logokutusu:hover
{
	background-color: steelblue;
}

#iletisim
{
	background-color: white;
	text-align: center;
	color: var(--text-black);
	padding: 20px 0px 20px 0px;
	line-height: 150%;
}

#iletisim p
{
	margin: 0;
}

.mail
{
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 10px !important;
}

#iletisim hr
{
	background-color: #515151;
	width: 700px;
	height: 1px;
	border: 0px;
	margin: 20px auto;
}

a
{
	text-decoration: underline;
	color: var(--text-black);
}

a:hover
{
	color: steelblue;
}

p{
	font-size: 20px;
}


/* Slider */


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
